version: '3'
services:
  flask:
    build: .
    image: roba/app:latest
    privileged: true
    ports:
      - 1000:1000
    volumes:
      - {{video_device}}:/dev/video0
    environment:
      - MONGO_URI={{mongo_uri}}
      - MONGO_DBNAME={{mongo_dbname}}
      - SECRET_KEY={{mongo_secret_key}}
  mongo:
    image: mongo:latest
    ports:
      - 27017:27017
